<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Scout</title>
<link rel="icon" type="image/ico" href="../../images/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="../../stylesheets/main.css"/>
<link rel="image_src" type="image/png" href="../../images/placeholder.png"/>
<link type="image/png" rel="image_src" href="logo.png" >
</head>

<body>
<div id= "container">
<div id="header">
	<h1>
		<%=link_to "Scout", @home %> </h1>
<div id="navigation">
	<div class="signin"> 
		<% if member_signed_in? %>
		<%= link_to image_tag("myprofile.png"), '/member'%> <% else %>	<%=link_to image_tag("login.png", :border => 0), new_member_session_path, :method=> :get %>
		<% end %>

			</div> </div> </div>

<div id="getstarted"> 
	<div id="gsbutton"> <%=link_to image_tag("getstartedbutton.png", :border => 0), new_member_registration_path, :method=> :get %> </div>
 </div>

<div id="moreinfo" class="box">
	<div id="info">
		<div class="why">
			<span>Why you'll love using Scout </span> </div>
		<div class="part screeningprocess">
			<div class="title">
			<h2> A Thorough Screening Process </h2>
			<p> We've developed a rigorous screening process to make sure our background checks are as accurate as possible. We conduct a full Social Security Number Trace and search for criminal records at the county, state, and federal level. </p> 
			<p> If an individual is a Scout Badge owner, you can trust that he has a clean record according to the law. </p> </div>
			<%=image_tag("screeningprocess.png", :alt => "Screening Process") %> 
			</div>
			
		<div class="part shareit odd">
			<div class="inner">
				<div class="title">
					<h2>Share It Anywhere </h2>
			<p>It's easy for you to share your approved Scout Badge anywhere, anytime. Share it on your listing, profile, or resume. </p>
			<p> If a business supports Scout Integration, it's fast and secure for you to incorporate your Scout credentials. This bolsters your reputation and helps you attract more customers.</p> </div>
			<%=image_tag("shareit.png", :alt => "Screening Process") %> 			
			</div> </div>

			
		<div class="part security">
			<div class="title">
				<h2> Security is Our Priority </h2>
				<p> Background checks deal with sensitive information. We work hard to ensure our security system is bullet-proof. Once you share your personal information with us, we make sure it never gets out. After you receive your badge, nobody else is able to use it. </p> </div>
			<%=image_tag("security.png", :alt => "Screening Process") %>  </div>
					
			<div class="part transparent odd">
				<div class="inner">
					<div class="title">
						<h2>Transparent and Liable </h2>
							<p>We don't hide any of our policies and we promise to take  full responsibility for any issue that comes up. Scout makes sure to abide by state and federal laws, including the Fair Credit Reporting Act.</p> </div>
					
			<%=image_tag("transparent.png", :alt => "Screening Process") %> 
					</div> </div>
					</div> </div>

					
<div id="footer" > 
		contact@heyscout.com <span>&copy 2013</span> </div>
</div>
</body>
</html>


